# Core
pytz
Django
django-configurations
dj-rest-auth
gunicorn
newrelic
pillow
django-allauth
djangorestframework-simplejwt

# For the persistence stores
psycopg2-binary
dj-database-url

# Model Tools
django-model-utils
django_unique_upload

# Rest apis
djangorestframework
Markdown
django-filter
coreapi

# Generate OpenAPI documentation
drf-yasg

# Developer Tools
ipdb
ipython
mkdocs
flake8
django-jazzmin

# Testing
mock
factory-boy
django-nose
coverage

# Static and Media Storage
django-storages
boto3

